<div class="container">
    <div class="row">
        <h1 class="">
            <span>C&oacute;digos</span>
            <button class="btn btn-transparent fa fa-plus-circle" ng-click="openModal()" uib-tooltip="Agregar permiso" ng-if="isAdmin || isGestor">
            </button>
        </h1>
    </div>
    <div class="row">
        <!--<div class="col-md-4 form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="fa fa-search"></span>
                </div>
                <input type="text" placeholder="B&uacute;squeda" uib-tooltip="Puede buscar por cualquiera de los p&aacute;rametros de la tabla" class="form-control" ng-model="search"/>
                <div class="input-group-addon">
                    <a style="text-decoration: none;" ng-click="search = ''" class="fa fa-close"></a>
                </div>
            </div>
        </div>-->
        <div class="col-md-8 col-md-offset-2">
            <table st-table="displayed" st-safe-src="codes" class="table table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th st-sort="code">C&oacute;digo</th>
                    <th>Observación</th>
                    <th st-sort="process">Proceso</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="code" placeholder="Buscar por código" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="observation" placeholder="Buscar por observación" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="process" placeholder="Buscar por proceso" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="code in displayed | filter:search" ng-if="codes.length > 0">
                    <td class="col-md-2">{{ code.code }}</td>
                    <td class="col-md-4">{{ code.observation }}</td>
                    <td class="col-md-2">{{ code.process }}</td>
                    <td class="col-md-2">
                        <a ng-if="isAdmin || isGestor" ng-click="openModal(code)" class="col-md-2 col-xs-6" uib-tooltip="Editar dispositivo">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a ng-if="isAdmin" ng-click="delete(code._id)" class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-0" uib-tooltip="Eliminar dispositivo">
                            <i class="glyphicon glyphicon-trash" style="color: rgb(210,50,50);"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="codes.length === 0">
                    <td colspan="4">
                        <p class="text-center">
                            No hay c&oacute;digos registrados en este momento
                        </p>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">
                            <div st-pagination st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3>{{form.name ? 'Actualizar' : 'Agregar'}} dispositivo</h3>
    </div>
    <div class="modal-body">
        <form name="formulario">
            <div class="form-group">
                <label>C&oacute;digo</label>
                <input class="form-control" placeholder="C&oacute;digo" ng-model="form.code" autofocus>
            </div>
            <div class="form-group">
                <label>Observaci&oacute;n</label>
                <input class="form-control" placeholder="C&oacute;digo" ng-model="form.observation">
            </div>
            <div class="form-group">
                <label>Proceso</label>
                <select2 class="col-md-12" ng-model="form.process" s2-options="process.id as process.name for process in processes"></select2>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" ng-class="{hidden: !err}">
                    {{err}}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="addCode(form)">{{form.name ? 'Actualizar' : 'Agregar'}}</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
