<div class="container">
    <div class="row">
        <h1 class="">
            <span>Dispositivos</span>
            <button class="btn btn-transparent fa fa-plus-circle" ng-click="openModal()" uib-tooltip="Agregar permiso" ng-if="isAdmin || isGestor">
            </button>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table st-table="displayed" st-safe-src="devices" class="table table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th st-sort="name" style="cursor: pointer">Nombre</th>
                    <th st-sort="mac" style="cursor: pointer">Mac</th>
                    <th>Usuarios Asociados</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="device in displayed" ng-if="devices.length > 0">
                    <td>{{device.name}}</td>
                    <td>{{device.mac}}</td>
                    <td>
                        <p ng-if="device.linkedUsers.length > 0" ng-repeat="user in device.linkedUsers">
                            {{user.name}}
                        </p>
                        <p ng-if="device.linkedUsers.length === 0">
                            No tiene usuarios asociados
                        </p>
                    </td>
                    <td>
                        <a ng-if="isAdmin || isGestor" ng-click="openModal(device)" class="col-md-2 col-xs-6" uib-tooltip="Editar dispositivo">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a ng-if="isAdmin" ng-click="delete(device.mac)" class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-0" uib-tooltip="Eliminar dispositivo">
                            <i class="glyphicon glyphicon-trash" style="color: rgb(210,50,50);"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="devices.length === 0">
                    <td colspan="4">
                        <p class="text-center">
                            No hay dispositivos registrados
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3>{{form.name ? 'Actualizar' : 'Agregar'}} dispositivo</h3>
    </div>
    <div class="modal-body">
        <form name="formulario">
            <div class="form-group" ng-if="isAdmin || isGestor">
                <label>Nombre</label>
                <input class="form-control" placeholder="Nombre" ng-model="form.name" required autofocus>
            </div>
            <mac-address></mac-address>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addDevice(form)">{{form.name ? 'Actualizar' : 'Agregar'}}</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>
