<style type="text/css">
    body {
        background: #eee !important;
    }

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 30px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .btn span{
        position: relative;
        left: -35% !important;
        transition: 1s;
    }
    .btn:hover span{
        left: 35% !important;
        transition: 1s;
    }
</style>
<div class="wrapper">
    <form name="loginForm" class="form-signin" ng-submit="login(loginForm)">
        <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <input type="text" ng-model="username" class="form-control" name="Usuario" placeholder="Usuario" required autofocus />
        <input type="password" ng-model="password" class="form-control" name="Contrasenna" placeholder="Contrase&ntilde;a" required/>
        <switch id="rememberMe" name="rememberMe" ng-model="status" on="Sí" off="No" class="green"></switch>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span>
                Entrar
                <i class="glyphicon glyphicon-arrow-right"></i>
            </span>
        </button>

        <div style="margin-top: 2rem;" ng-if="loginForm.$error.required || err" ng-messages="loginForm.$error" class="alert alert-danger" role="alert">
            <div ng-repeat="error in loginForm.$error.required" ng-message="required">
                {{error.$name}} es un campo requerido
            </div>
            <p>{{err}}</p>
        </div>
        <div style="margin-top: 2rem;" ng-if="consulting" class="alert alert-info" role="alert">
            <p>Consultando al servidor por favor espere</p>
        </div>
    </form>
</div>
