<div class="container">
    <div class="row">
        <h1 class="">
            <span>Procesos</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <select2 class="col-md-12" ng-model="selected" s2-options="process.id as process.name for process in processes"></select2>
        </div>
        <div class="col-md-3 col-md-offset-5">
            <div class="btn-group">
                <button ng-click="download(selected)" uib-tooltip="Descargar datos" class="btn btn-success" ng-class="{disabled: processData.length == 0}">
                    <i class="fa fa-download"></i>
                </button>
                <button ng-click="delete(selected)" uib-tooltip="Eliminar datos" class="btn btn-danger" ng-class="{disabled: processData.length == 0}">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <table st-table="displayed" st-safe-src="processData" class="table table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th>Auditor</th>
                    <th>Fecha</th>
                    <th>Proceso</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in displayed" ng-if="processData.length > 0">
                    <td>{{data.auditor}}</td>
                    <td>{{data.date | oadate}}</td>
                    <td>{{data.process}}</td>
                </tr>
                <tr ng-if="processData.length === 0">
                    <td colspan="4">
                        <p class="text-center">
                            No hay procesos registrados en este momento
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirmDelete">
    <div class="modal-body">
        <p>¿Realmente desea eliminar los datos de {{process}}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="yes()">Sí</button>
        <button class="btn btn-success" type="button" ng-click="no()">No</button>
    </div>
</script>
